.game h1 {
    font-size: 2.5rem;
    display: flex;
}
.poins span{
    font-weight: bold;
}
.tip span{
    color: #6e721cf3;
}
.wordContainer{
    width: auto;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 20px solid #2A2438;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5C5470 ;
    border-radius: 20px;
    text-transform: uppercase;
    }
.wordContainer span {
    font-size: 40px;
}
.letter , .blankSquere{
    font-size: 50px;
    line-height: 1.5;
    text-transform: uppercase;
    height: 70px;
    width: 70px;
    background-color: #FFF;
    border: 3px solid #000;
    font-weight: bolder;
    margin: 1px;
    border-radius: 3px;
}
.latterContainer p {
    margin-bottom: 1.2rem;
}
.latterContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inq{
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

