:root{
  --1color : #DBD8E3;
  --2color : #5C5470;
  --3color : #352F44;
  --4color : #2A2438;
}

html , body {
  height: 100%;

}
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400; 
  background-color: #DBD8E3;
}