/* Estilos principais para o layout da página de registro */
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%; /* Garante que a altura mínima ocupe toda a tela */
  flex-direction: column; /* Para organizar o conteúdo em coluna */
  background-color: #f4f4f4;
}

.formbox {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
  padding: 30px;
  width: 100%;
  max-width: 400px; /* Limita a largura máxima */
  margin-bottom: 20px; /* Adiciona margem para separar do footer */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  text-align: center;
}

.subtitle {
  font-size: 1rem;
  color: #666;
  text-align: center;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  transition: border 0.3s ease;
}

.input:focus {
  border: 1px solid #ff6600;
}

button {
  padding: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background-color: #ff6600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #e65c00; /* Muda para uma cor mais escura ao passar o mouse */
}

.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.formsection {
  text-align: center;
  margin-top: 20px;
}

.formsection p {
  font-size: 1rem;
  color: #555;
}

.formsection a {
  color: #ff6600;
  text-decoration: none;
  font-weight: 600;
}

.formsection a:hover {
  text-decoration: underline;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .formbox {
    padding: 20px;
    width: 80%;
    max-width: 350px; /* Ajusta para telas pequenas */
  }

  .title {
    font-size: 1.6rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .input {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  .error {
    font-size: 0.85rem;
  }

  .formsection p {
    font-size: 0.9rem;
  }
}
