
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garantir que a aplicação ocupe pelo menos a altura da tela */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* Faz com que a área de conteúdo ocupe o espaço restante */
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* Garante que o footer fique no final da página */
}